{% extends 'main/base.html'%}

{%block content%}
<div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
        <h1 class="fw-bold mb-0 fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Войти</font></font></h1>
      </div>
        <div class="modal-body p-5 pt-0">
<form method="post">
    {% csrf_token %}
    {% for f in form%}
    <p><label class = 'form-label' for = "{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
    <div class="form-error">{{f.errors}}</div>
    {%endfor%}
      <button class="w-100 mb-2 btn btn btn btn-dark" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Войти</font></font></button>

</form>
        </div>
    </div>
</div>
{%endblock%}